:host {
  vertical-align: middle;
  margin-right: 20px;
}
.profilo {
  text-align: center;
  padding: 20px;
}
img {
  width: 90%;
  height: 75%;
  /* object-fit: cover;*/
  border-radius: 10%;
}
a {
  padding: 15px;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
}
