<mat-nav-list>
    <div class="profilo">
        <div class="header">
            <h2>Giorgio Ozzola</h2>
            <h4>giorgio.ozzola.studenti@isii.it</h4>
        </div>
        <img src="https://images.unsplash.com/photo-1529665253569-6d01c0eaf7b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80">
    </div>
<mat-divider></mat-divider>

<mat-divider></mat-divider>
<h2 matSubheader>Pagine</h2>

<a mat-list-item routerLink="/dash" routerLinkActive="list-item-attivo">Dashboard</a>
<a mat-list-item routerLink="/clienti" routerLinkActive="list-item-attivo">Clienti</a>
<a mat-list-item routerLink="/costi" routerLinkActive="list-item-attivo">Costi</a>
<a mat-list-item routerLink="/ordini" routerLinkActive="list-item-attivo">Ordini</a>
<a mat-list-item routerLink="/profitti" routerLinkActive="list-item-attivo">Profitti</a>
<a mat-list-item routerLink="/server" routerLinkActive="list-item-attivo">Server</a>
<a mat-list-item routerLink="/visite" routerLinkActive="list-item-attivo">Visite</a>

<mat-divider></mat-divider>
<!-- <h2 matSubheader>Strumenti</h2> -->
<!-- <a mat-list-item routerLink="/clienti" routerLinkActive="list-item-attivo">
    <mat-icon>contacts</mat-icon> Contatti  -->
    <!-- VOLENDO QUI SI POSSONO METTERE I GRAFICI  -->
<!-- </a> -->
</mat-nav-list>
