<div class="container justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4">Gestione Visite Sito Aziendale</h1>
        <hr class="my-2" />
        <p class="lead">Database Visite </p>
        <p class="lead">
            In questa sezione sono presenti i dati riferiti alle informazioni del sito aziendale, come una specie di "Google analytics".<br /> Ogni modifica dei dati è visibile con l'avviso da parte del browser, se non si verifica, assicurarsi di inserire il tipo di dato corretto.
            <br />Il sito ha il proprio identificativo, la data corrispondente alle informazioni ricevute, con il numero di visite ed il relativo guadagno.
        </p>
    </div>
</div>
<span class="spaziospan"></span>
<div class="container">
    <app-get-visite></app-get-visite>
</div>