<h1> Grafico controllo Costi</h1>
<h3> Con questo grafico è facilmente intubile quali mesi è costato di più all'azienda </h3>
<ngx-charts-bar-horizontal [results]="DatiVisite" [view]="view" [scheme]="colorScheme" [schemeType]="schemeType"
    [gradient]="gradient" [xAxis]="xAxis" [yAxis]="yAxis" [legend]="legend" [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="yAxisLabel" [yAxisLabel]="xAxisLabel" [legendTitle]="legendTitle"
    [legendPosition]="legendPosition" [animations]="animations" [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks" [trimYAxisTicks]="trimYAxisTicks" [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength" [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatNumber" [yAxisTickFormatting]="formatString" [xAxisTicks]="yAxisTicks"
    [showDataLabel]="showDataLabel" [barPadding]="barPadding" [tooltipDisabled]="tooltipDisabled"
    [roundEdges]="roundEdges">
</ngx-charts-bar-horizontal>