<!-- Button trigger modal importato da https://getbootstrap.com/docs/5.0/components/modal/ 
    io ho solo aggiunto gli eventi, come click e i dettagli per le query da GUI-->
    <div class="btnright">
        <button type="button" class="btn btn-primary m-1 float-right" data-toggle="modal" data-target="#exampleModal"
          (click)="aggiungiClick()" data-backdrop="false" data-keyboard="false">
          Aggiungi Dati Visita
        </button>
      </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ TitoloModal }}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="chiudiClick()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <app-post-put-visite [vis]="vis" *ngIf="ModificaAttivaComp"></app-post-put-visite>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID Visita</th>
            <th>Data Resoconto</th>
            <th>Numero di Visite</th>
            <th>Guadagni Pagina</th>
            <th>Opzioni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vis of ListaVisite">
            <td>{{ vis.IdVisite }}</td>
            <td>{{ vis.DataAccesso }}</td>
            <td>{{ vis.NumVisite }}</td>
            <td>{{ vis.GuadagniPagina }}</td>
            <td>
              <button type="button" class="btn btn-light mr-2" data-toggle="modal" data-target="#exampleModal"
                data-backdrop="false" data-keyboard="false" (click)="modificaClick(vis)">
                <svg width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                  <path
                    d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" />
                </svg>
              </button> &nbsp;      
              <button type="button" class="btn btn-light mr-2" (click)="eliminaClick(vis)">
                <svg width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                  <path fill-rule="evenodd"
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- Qui bisogna inserire il grafico sui dati della tabella -->