<div class="container justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4">Gestione Server</h1>
        <hr class="my-2" />
        <p class="lead">Database Server </p>
        <p class="lead">
            In questa sezione sono presenti i dati riferiti al servizio server dell'azienda.<br /> Ogni modifica dei dati è visibile con l'avviso da parte del browser, se non si verifica, assicurarsi di inserire il tipo di dato corretto.
            <br />Ogni server ha il proprio identificativo e una condizione che ne determina il funzionamento.
        </p>
    </div>
</div>
<span class="spaziospan"></span>
<div class="container">
    <app-get-server></app-get-server>
</div>