<div class="back">
</div>
<div class="noblur">
	<h1 class="fontchar"> Benvenuto in Company Check&copy; !</h1>
	 <br> 
		<h2 class="fontcharsub">La piattaforma di gestione aziendale pensata per realizzare i tuoi progetti. </h2>
	<span class="spaziospan"></span>
	<div class="container" id="container">
		<div class="form-container sign-in-container">
			<form action="#">
				<h1>Bentornato! </h1>
				<div class="social-container">
				</div>
				<input type="email" placeholder="Email" />
				<input type="password" placeholder="Password" />
				<a href="#"></a>
				<button [routerLink]="'/'">Accedi</button>
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-right">
					<h1>Continua</h1>
					<span class="spaziologin"></span>
					<h3>Se non sei registrato, <br> scopri la demo di prova. <br> È gratuita!</h3>
					<span class="spaziologin"></span>
					<button class="ghost" id="signUp" [routerLink]="'/'">Continua </button>
				</div>
			</div>
		</div>
	</div>
</div>