<div class="container justify-content-center">
    <div class="jumbotron">
        <h1 class="display-4">Gestione Profitti</h1>
        <hr class="my-2" />
        <p class="lead">Database Profitti </p>
        <p class="lead">
            In questa sezione sono presenti i dati riferiti ai profitti dell'azienda.<br /> Ogni modifica dei dati è visibile con l'avviso da parte del browser, se non si verifica, assicurarsi di inserire il tipo di dato corretto.
            <br />Ogni profitto è suddiviso in due parti: la data di ingresso del denaro e la sua quantità.
        </p>
    </div>
</div>
<span class="spaziospan"></span>
<div class="container">
    <app-get-profitti></app-get-profitti>
</div>