<div class="noblur jumbotron">
    <h1 class="fontchar"> Benvenuto </h1>
    <br>
    <h2 class="fontcharsub">Questo sito è stato costruito a scopo didattico per l'elaborato d'esame 2020/2021. </h2>
    <span class="spaziospan"></span>
    <div class="container" id="container">
        <div style="padding: 20px;"></div>
        <h1> Company Check © </h1>
        <div style="padding: 20px;"></div>
        <h2>Implementazione di un pannello di controllo per la gestione di un’azienda </h2> <br>
        <h3>
            Per l'utilizzo orientarsi con la barra di navigazione sulla sinistra <br>
            <div style="padding: 40px;"></div>
            Per uscire, premere in alto a destra l'icona del contatto.
        </h3>
        <div style="padding: 50px;"></div>
        <h3 class="footerhome">Questo progetto è stato prodotto con l'implementazione del framework Angular per il
            front-end, <br> Database (SQL Server) per la base di dati e ASP.NET Core con linguaggio C# per le API <br>
            comunicante tra le due parti.</h3>
        <div class="overlay-panel overlay-center">
        </div>
    </div>
</div>